<h3 style="color:#d35400;">DataTypes</h3>

<h4 style="color:#e74c3c;">1. Definition:</h4>

<ul style="color:#f1c40f;">
  <li>Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.</li>
  <li>They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.</li>
</ul>

<h4 style="color:#e74c3c;">2. Importance of Data Types in Programming</h4>

<p style="color:#f1c40f;"><strong style="color:#00ffff;">Explanation:</strong></p>

<ul style="color:#f1c40f;">
  <li>Data types ensure that data is stored in an efficient way.</li>
  <li>They help in performing correct operations on data.</li>
  <li>Proper use of data types can prevent errors and bugs in the program.</li>
</ul>

<h4 style="color:#e74c3c;">Video Outline:</h4>

<ul style="color:#f1c40f;">
  <li>1. Introduction to Data Types</li>
  <li>2. Importance of Data Types in Programming</li>
  <li>3. Basic Data Types
    <ul>
      <li>Integers</li>
      <li>Floating-point numbers</li>
      <li>Strings</li>
      <li>Booleans</li>
    </ul>
  </li>
  <li>4. Advanced Data Types
    <ul>
      <li>Lists</li>
      <li>Tuples</li>
      <li>Sets</li>
      <li>Dictionaries</li>
    </ul>
  </li>
  <li>5. Type Conversion</li>
  <li>6. Practical Examples</li>
</ul>

In [ ]:
## Integer Example
age = 35
type(age)  # Output: <class 'int'>

In [ ]:
## Floating Point Data Type
height = 5.11
print(height)           # Output: 5.11
print(type(height))     # Output: <class 'float'>

In [ ]:
## String Data Type Example
name = "Krish"
print(name)           # Output: Krish
print(type(name))     # Output: <class 'str'>

In [ ]:
## Boolean Data Type
is_true = True
type(is_true)  # Output: <class 'bool'>

In [ ]:
a = 10
b = 10

type(a == b)  # Output: <class 'bool'>

In [1]:
## Common Error Example

result = "Hello" + 5  # ❌ This will raise a TypeError

TypeError: can only concatenate str (not "int") to str

In [2]:
result = "Hello" + str(5)
print(result)  # Output: Hello5

Hello5

<h3 style="color:#d35400;">Conclusion:</h3>

<p style="color:#f1c40f;">
Understanding <strong style="color:#00ffff;">data types</strong> is essential in Python programming as they define the kind of data a variable can store and what operations can be performed on it.
</p>

<p style="color:#f1c40f;">
Using the correct data type helps avoid errors, improves performance, and ensures that the code behaves as expected.
</p>

<p style="color:#f1c40f;">
Mastering both basic and advanced data types is a foundation for writing reliable and efficient Python programs.
</p>